

/*Credits list page*/
.client-content-wrapper {
    overflow: auto;
    height: 400px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px;
}

.credit-plan-link {
    font-size: 20px;
    color:blue;
    font-style:italic;
}

.credit-description-content-wrapper {
    background: #e0ffff;
    padding: 5px;
    color: purple;
}

.show-description {
    color:#666666;
    font-style:italic;
}

.show-description:visited
{
    color:#666666;
    font-style:italic;
}

.credit-li {
    background: url("../../../resources/images/sqorange.gif") no-repeat;
    padding-right: 5px;
}

/*send request pge styles*/
.credit-details-wrapper {
    padding: 40px;
    font-size: 16px;
    color:blue;
    font-style:italic;
}

.credit-details-back-link {
    font-size: 15px !important;
    color: #000099 !important;
}

.credit-details-form-div {
 padding-top: 30px;
}
