.grid {
    width: 100%;
    margin-top: 20px;
    max-height: 450px;
}

.grid-number-col {
    width: 15px;
}
.grid-report-col {
    text-decoration: underline;
}

.gridHeader {
    text-decoration: none;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    padding: 2px 0 3px;
    white-space: normal !important;
    color: #FFF !important;
    cursor: pointer;
    background: url("../../resources/images/bg_bottom.gif");
}

.popup-btn {
    margin-top: 10px;
    padding: 2px;
    text-align: center;
    font-size: 14px;
}

.popup-div {
    /*width: 430px;*/
    /*height: 150px;*/
    /*overflow: auto;*/
}