/*@import url(reset.css);*/
@import url(../../resources/css/left-menu.css);
@import url(../../resources/css/grid.css);

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #D9F1FA;
    text-decoration: none;
    white-space: nowrap;
}

.menu:visited {
    color: #D9F1FA;

}

.menu:hover {
    color: #D9F1FA;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    padding-bottom: 12px;
    margin: 0px;
    text-align: justify;
}

h1 {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin: 21px 0px 0px 18px;
    color: #0E4687;
}

.cpr {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    white-space: nowrap;
}

body {
    background-repeat: repeat-x;
}

.lmenu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #387091;
    margin-top: 0px;
    margin-right: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    white-space: nowrap;
}

.clock {
    background-image: url("../../resources/images/clock.gif");

    background-repeat: no-repeat;
    background-position: right bottom;
}

.bgnr {
    background-repeat: no-repeat;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #1C7BA5;
    white-space: nowrap;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 7px;
}

body {
    background-image: url(../../resources/images/bg.gif)
}

.slogan {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 11px;
    color: #1C7BA5;
    white-space: nowrap;
}

.table-h100 {
    height: 100%;
}

.bg_head {
    background: url("../../resources/images/bg_head.gif");
}

.el_2 {
    background: url("../../resources/images/el_2.jpg");
}

.bg_menu {
    background: url("../../resources/images/bg_menu.gif");
}

.bg_left {
    background: url("../../resources/images/bg_left.gif");
}

.bg_bottom {
    background: url("../../resources/images/bg_bottom.gif");
    background-color: #88CCE6;
    text-align: right;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.height117 {
    height: 117px;
}

.height91 {
    height: 91px;
}

.height25 {
    height: 25px;
}

.left-menu-item {
    text-decoration: none;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    padding: 2px 0 3px;
    white-space: normal !important;
    color: #FFF !important;
    cursor: pointer;
}

.rf-pm-top-itm {
    background: url("../../resources/images/bg_bottom.gif");
}

.tab-panel {
    max-height: 450px;
    margin-top: 20px;
}

.registration-wrapper {
    margin-left: 270px;
    margin-top: 20px;
    width: 400px;
}

.invisible {
    display: none;
}

.rf-pm-top-itm-sel {
    background: #88CCE6 !important;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.center {
    text-align: center;
}

.errorMsg {
    color: red !important;
}