.login-wrapper-out {
    overflow: hidden;
}

.login-wrapper {
    width: 300px;
    vertical-align: middle;
    margin: 100px 270px;
}

.login-form-container {
    height: 150px;
    clear: both;
    padding: 10px 20px;
    /*background-image: url(../../../resources/images/bg.gif);*/
    /*background-repeat: repeat;*/
    background-color: #dcdcdc;
    overflow: hidden;

}

.login-container {
    background: none repeat scroll 0 0 #F3F3F5;
    border-left: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;
    float: left;
}

.login-label, .login-input {
    text-align: left;
    float: left;
}

.login-input {
    width: 250px;
}

.login-form-container, .login-label, login-input {
/*width: 300px;*/
}

.login-label, .login-input, .login-dig-label {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    float: left;
}

.reg-link {
    text-decoration: underline;
    float: right;
    font-size: 12px;
    margin-top: 10px;
}

.login-btn {
    text-decoration: none !important;
    padding: 5px 10px;
    background: blue;
    cursor: pointer;
    color: #FFFFFF;

    font-family: Arial;
    font-size: 14px;
    font-weight: bold;

    width: 70px;
}

.login-error-label {
    color: red;
}

.errorMsg {
    color: red !important;
}

.regTable td{
    padding: 3px 0px;
}